@import url(https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css);
@import url(type/stylesheet.css);

:root {
	--border-color: #ccc;
	--accent-color: #bd4e00;
	--accent-color-2: rgba(0, 0, 0, 0.37);
}

html {
	font-size: 13px;
}

body {
	will-change: opacity;
	transition: opacity 200ms ease-out;
	font-family: -apple-system, system-ui, sans-serif;
	line-height: 1.5rem;
}

body.loading {
	opacity: 0;
	pointer-events: none;
}

body > * {
	padding: 1rem;
}

p {
	color: #333;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

h2,
h3 {
	font-weight: normal;
}

input,
label {
	padding: 0.5rem;
}

#textarea {
	padding: 0.5rem;
}

label {
	text-transform: capitalize;
}

h2 {
	margin-top: 0;
}

/* brick */

.brick {
	padding: 0.5rem;
}

.brick_box {
	border: 0;
	padding: 0.5rem;
	width: 140px;
	text-align: center;
	background-color: #111;
	color: #eee;
	cursor: move;
}

.brick > * {
	display: inline-block;
}

.brick_wrap {
	display: flex;
	padding: 0.5rem;
}

.brick_wrap:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

.brick_description {
	margin-left: 1rem;
}

/* sections */

section:nth-of-type(odd) {
	background-color: #f6f6f6;
}

section:not(:last-of-type) {
	/*margin-bottom: 1rem;*/
}

#bricks {
	padding: 0;
}

#bricks .selected .brick_box:before {
	content: '☆';
	color: yellow;
	margin-right: 0.5rem;
}

#bricks_sequence {
	outline: 1px dashed var(--border-color);
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.2);
}

#bricks_sequence > *:not(:last-child) {
	margin-right: 1rem;
}

#bricks_sequence_standard:after {
	content: '';
	clear: both;
	display: block;
}

/* special */

#bg {
	background-image: url(../tex.jpg);
	width: 100vw;
	height: 10vh;
	background-repeat: repeat-x;
	background-size: contain;
}

#textarea {
}

#bricks_sequence button:nth-of-type(odd),
#textarea span:nth-of-type(odd) {
	background-color: var(--accent-color);
}

#bricks_sequence button:nth-of-type(even),
#textarea span:nth-of-type(even) {
	background-color: var(--accent-color-2);
}

*[contenteditable='true'] {
	word-break: break-all;
	border: 1px solid var(--border-color);
}

/* on large */

@media (min-width: 800px) {
	#bricks_sequence {
		display: flex;
	}
	#bricks {
		height: 40vh;
		overflow: scroll;
	}
}
/* on small */

@media (max-width: 799px) {
	#bricks_sequence .brick_box {
		width: 100%;
	}
	#bricks_sequence > *:not(:last-child) {
		margin-bottom: 1rem;
	}
}
