@import url(https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css);

:root {
	--border-color: #ccc;
}

body {
	font-size: 12px;
	font-family: -apple-system, system-ui, sans-serif;
	line-height: 1.5rem;
	padding: 1rem;
}

h2,
h3 {
	font-weight: normal;
	letter-spacing: 0.01em;
}

a {
	background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

label {
	text-transform: capitalize;
	margin-left: 0.5rem;
}

/* table */

table {
	width: 100%;
}

th {
	font-weight: normal;
	text-align: left;
	text-transform: capitalize;
}

td {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

fieldset {
	border: 0;
	outline: 1px solid var(--border-color);
	padding: 1rem;
}

/* layout */

body > fieldset {
	width: calc(50% - 0.5rem);
}

body > fieldset:nth-of-type(1) {
	float: left;
}

body > fieldset:nth-of-type(2) {
	float: right;
}

/* special */

textarea {
	position: absolute;
}

#textarea {
	word-break: break-all;
	border: 1px solid var(--border-color);
}

#sequence select:nth-of-type(1),
#textarea span:nth-of-type(1) {
	background-color: mistyrose;
}

#sequence select:nth-of-type(2),
#textarea span:nth-of-type(2) {
	background-color: lemonchiffon;
}

#parts_available table tbody > div {
	overflow: auto;
	height: 9rem;
	width: 100%;
	overflow-y: auto;
}

#categories div {
	display: inline-block;
}

#categories div:not(:last-child) {
	margin-right: 1rem;
}

#sequence button {
	font-weight: bold;
}
