@import url(https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css);

:root {
	--border-color: #ccc;
}

body {
	font-size: 12px;
	font-family: -apple-system, system-ui, sans-serif;
	line-height: 1.5rem;
	padding: 1rem;
}

h2,
h3 {
	font-weight: normal;
	letter-spacing: 0.01em;
}

a {
	background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

label {
	text-transform: capitalize;
	margin-left: 0.5rem;
}

fieldset {
	margin: 0;
}

/* table */

#parts_available button {
	margin-right: 0.5rem;
}

fieldset {
	border: 0;
	outline: 1px solid var(--border-color);
	padding: 1rem;
}

/* special */

body > fieldset {
	width: calc(50% - 1rem);
}

body > fieldset:nth-of-type(1) {
	float: right;
}

body > fieldset:nth-of-type(2) {
	float: left;
}

.selected {
	background-color: rgba(0, 255, 0, 0.1);
}

.selected td:nth-of-type(5) {
	display: none;
}

textarea {
	position: absolute;
}

#textarea {
	word-break: break-all;
	border: 1px solid var(--border-color);
}

#sequence select:nth-of-type(odd),
#textarea span:nth-of-type(odd) {
	background-color: mistyrose;
}

#sequence select:nth-of-type(even),
#textarea span:nth-of-type(even) {
	background-color: lemonchiffon;
}

#categories div {
	display: inline-block;
}

#categories div:not(:last-child) {
	margin-right: 1rem;
}

